<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrowserSelect" value="Chrome" />
    <add key="Username" value="anushrimundada@gmail.com" />
    <add key="password" value="Qwerty123$" />
    <add key="Website" value="https://www.skyscanner.com.au/"/>
    <add key="PageLoadTimeout" value="40" />
    <add key="ElementLoadTimeout" value="3" />
  </appSettings>

</configuration>